### Python ###
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-selfcheck.json

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite

# Environment variables
.env
.venv

### Vue.js / Node ###
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/          # Игнорируем папку с настройками VS Code
!.vscode/settings.json # Но можно сохранить общие настройки (по желанию)

# IDE
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Temp files
*.tmp
*.temp

# System files
.DS_Store
Thumbs.db